---
import PageLayout from '../../layouts/PageLayout.astro'

export const frontmatter = {
	pubDate: '2023-11-04',
	description: 'Focus on the system not the tool',
}
---

<PageLayout>
	<h1>Focus on the system not the tool</h1>

	<time datetime="2023-11-04">2023-11-04</time>

	<p>
		Paraphrasing Atomic Habits' mantra "focus on the system, not the goal" I would like to tell myself to do the same,
		but with tools. In the topic of Personal Knowledge Management, Todo Lists, Project organization and similar, there
		are amazing tools out there. The problem is that if you don't have a good system for doing things, using the tool
		becomes just pointless and cumbersome. You come up in a situation where you have to learn a new DSL or a new
		interface just to do the same things you could do with a, for instance, .txt file. Then you feel smart because you
		spent hours learning the DSL, but actually you accomplished nothing, nada. Of course apps and tools are great in
		their job, but I think they help you to improve the 80% of the things that actually have impact on the 20% of the
		processes.
	</p>

	<p>
		It's important to learn the basic theory of the ideas behind Personal Knowledge Management, Todo Lists and Project
		organization and only <em>then</em> implement with tools. I'm quite sure that these tools will look less fancy and attractive
		after knowing the theory.
	</p>
</PageLayout>
