---
import PageLayout from '../../layouts/PageLayout.astro'
---

<PageLayout>
	<section>
		<h1>Writing</h1>

		<ul>
			<li><a href="/blog/focus-on-the-system-not-the-tool">Focus on the system not the tool</a></li>
			<li><a href="/blog/single-tasking">Single tasking</a></li>
		</ul>
	</section>
</PageLayout>
