---
import BaseHead from '../../components/BaseHead.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { List } from 'immutable'

const permalink = Astro.request.canonicalURL.href

const publishablePosts = List(Astro.fetchContent('./*.md'))
	.map(({ title, url, isDraft }) => ({
		title,
		href: url,
		isDraft,
	}))
	.filter(post => !post.isDraft)
	.toJS()

const headProps = {
	title: "Roberto Tonino's Blog",
	description: '',
	permalink,
}
---

<html lang="en">
	<head>
		<BaseHead {...headProps} />
	</head>
	<body>
		<BaseLayout>
			<section class="container mb-8">
				<p>This is still under construction :)</p>
			</section>

			<section class="container">
				<h2>Blog posts</h2>

				<ul>
					{publishablePosts.map(({ title, href }) => (
						<li>
							<a href={href}>{title}</a>
						</li>
					))}
				</ul>
			</section>
		</BaseLayout>
	</body>
</html>
