---
import { readdirSync } from 'fs'
import { startCase } from 'lodash-es'
import BaseHead from '../../components/BaseHead.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const blogDirContent = readdirSync('./src/pages/blog')
const mdFiles = blogDirContent.filter(fileName => fileName.endsWith('.md'))
const slugs = mdFiles.map(fileName => fileName.replace(/.md$/, ''))
const blogPostNames = slugs.map(startCase)
---

<head>
	<BaseHead />
</head>
<body>
	<BaseLayout>
		{blogPostNames.map((post, index) => (
			<li>
				<a href={`/blog/${slugs[index]}`}>{post}</a>
			</li>
		))}
	</BaseLayout>
</body>
