---
import BaseHead from '../../components/BaseHead.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const permalink = Astro.request.canonicalURL.href

const blogPosts = Astro.fetchContent('./*.md').map(res => ({
	title: res.title,
	href: res.url
}))
---

<html lang="en">
	<head>
		<BaseHead title="Roberto Tonino's Blog" description="" {permalink} />
	</head>
	<body>
		<BaseLayout>
			<section class="container mb-8">
				<p>This is still under construction :)</p>
			</section>

			<section class="container">
				<h2>Blog posts</h2>

				<ul>
					{blogPosts.map(({ title, href }) => (
						<li>
							<a href={href}>{title}</a>
						</li>
					))}
				</ul>
			</section>
		</BaseLayout>
	</body>
</html>
