---
import { BlogPost } from '../../types'
import BaseHead from '../../components/BaseHead.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { List } from 'immutable'
import { DateTime } from 'luxon'

const mds = await Astro.glob<BlogPost>('./*.(md|mdx)')
const publishablePosts = List(mds)
	.map(post => ({
		title: post.frontmatter.title,
		href: post.url,
		draft: post.frontmatter.draft,
		date: DateTime.fromISO(post.frontmatter.date).toISODate(),
	}))
	.filter(post => !post.draft)
	.sort((postA, postB) => {
		const dateA = new Date(postA.date)
		const dateB = new Date(postB.date)

		return dateB.valueOf() - dateA.valueOf()
	})
	.toJS()

const headProps = {
	title: "Roberto Tonino's Blog",
	description: "The blog page of Roberto Tonino's website.",
	permalink: new URL(Astro.url.pathname, Astro.site),
}
---

<html lang="en" data-theme="brutal">
	<head>
		<BaseHead {...headProps} />
	</head>
	<body>
		<BaseLayout>
			<section class="prose mx-auto mt-16 max-w-prose lg:prose-2xl">
				<p class="pl-4 sm:pl-8">Blog posts</p>

				<div class="ml-4 sm:ml-8">
					<ul class="pl-4 sm:pl-8">
						{
							publishablePosts.map(({ title, href }) => (
								<li>
									<a href={href}>{title}</a>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</BaseLayout>
	</body>
</html>
