---
import PageLayout from '../../layouts/PageLayout.astro'
---

<!-------><!--title: 'Single tasking'--><!--date: 2024-04-05--><!--pubDate: 2024-04-05--><!--description: My way of working at the computer--><!--layout: ../../layouts/PostLayout.astro--><!------->
<PageLayout>
  <h1>Single tasking</h1>

  <time datetime="2024-04-05">2024-04-05</time>
	<p>
		When working with at my computer I always keep one window open at a time. When coding, I have no split panes. Just
		one email, file, shell in every single moment. Having more than one gets me really confused in a surprisingly short
		amount of time. The focus, when having many things open, keeps switching between the cluttered screen pixels. I use
		`tmux` for development, but I use it mainly for having cross-OS tabs and a configuration that I can put in version
		control.
	</p>
</PageLayout>
