:root {
	/* Colors */
	--color-base: hsla(230, 50%, 50%, 1);
	--color-primary: hsla(170, 50%, 50%, 1);
	--color-accent: hsla(350, 50%, 50%, 1);
	--color-accent-secondary: hsla(50, 50%, 50%, 1);
	--color-base-alternative: hsl(248, 66%, 24%, 1);
	--color-accent-alternative: hsl(343, 79%, 63%, 1);

	/* Default theme */
	--color-foreground: hsla(0, 0%, 90%, 1);
	--color-background: hsla(230, 50%, 13%, 1);
}

[data-theme='violet'] {
	/* Colors */
	--color-base: hsla(260, 50%, 50%, 1);
	--color-primary: hsla(200, 50%, 50%, 1);
	--color-accent: hsla(20, 50%, 50%, 1);
	--color-accent-secondary: hsla(80, 50%, 50%, 1);

	--color-background: hsla(260, 50%, 13%, 1);
}

/* Base fonts from: https://iainbean.com/posts/2021/system-fonts-dont-have-to-be-ugly/ */
:root {
	// font-family: Georgia, Times, 'Times New Roman', serif;
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	/* Only supported on Chromium-based browsers and Safari */
	// font-family: system-ui;
	// font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
	font-family: Heebo, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
