:root {
	--color-primary: hsl(336deg 86% 75%);
	--color-foreground: hsla(0, 0%, 90%, 1);
	--color-background: hsla(230, 45%, 18%, 1);
}

[data-theme='violet'] {
	--color-base: hsla(260, 50%, 50%, 1);
	--color-primary: hsla(200, 50%, 50%, 1);

	--color-background: hsla(260, 50%, 13%, 1);
}

[data-theme='brutal'] {
	--color-primary: #28d800;
	--color-secondary: #ff0000;
	--color-secondary-1: color-mix(in srgb, var(--color-secondary) 70%, white);
	--color-foreground: #000;
	// --color-background: #f8f0c6;
	--color-background: var(--color-primary);
}

[data-theme='typewriter'] {
	--color-primary: #000;
	--color-secondary: #000;
	--color-secondary-1: #000;
	--color-foreground: #000;
	--color-background: #fff;
}
