@import 'prism-themes/themes/prism-shades-of-purple.css';
@import 'tailwind';

html {
	background-color: var(--color-background);
	color: var(--color-foreground);
}

abbr[title] {
	cursor: help;
}

::selection {
	background-color: color-mix(in srgb, var(--color-primary) 80%, white);
	color: var(--color-foreground);
}
