@layer globals {
	html {
		--page-left-size: min(30vw, 25rem);

		background-color: var(--color-background);
		color: var(--color-foreground);
		font-family: var(--font-sans);
		font-size: 20px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1rem;
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
	}

	p,
	time {
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
	}

	abbr[title] {
		cursor: help;
	}

	::selection {
		background-color: var(--color-foreground);
		color: var(--color-background);
	}

	#page {
		--space-lateral: var(--size-5);

		margin: 0 var(--space-lateral) var(--size-10) var(--space-lateral);
		padding-top: calc(var(--size-7) + var(--space-lateral));
		min-height: 100vh;
		max-width: max(var(--size-content-3), 720px);

		@media (--lg-n-above) {
			margin: 0 var(--space-lateral) var(--size-10) var(--size-13);
		}
	}
}
