---
import { Picture } from 'astro:assets'
import BaseLayout3 from '../layouts/BaseLayout3.astro'
import withThem from '../assets/with-them.jpg'

const headProps = {
	title: "Roberto Tonino's corner",
	description: 'About Roberto Tonino.',
	permalink: new URL(Astro.url.pathname, Astro.site),
}
---

<style>
	@layer globals {
		p,
		img {
			margin-bottom: 1.25rem;
		}

		img {
			aspect-ratio: 60 / 31;
			height: auto;
		}

		section:not(:last-child) {
			margin-bottom: var(--size-8);
		}
	}
</style>

<BaseLayout3>
	<section>
		<h1>About</h1>
	</section>

	<section>
		<p>
			I am a guy that enjoys spending time writing software. I like to actually write code and I like to find solutions
			to problems. Yes, I know, usual and basic stuff. Maybe I should be more creative. But I don't consider myself as a
			creative-first person. I am creative, yes, but I need to be in the right condition to use my creativity. Also, who
			said that creativity is important for everything? Sure, in my job it's an important aspect, but there is more.
		</p>

		<p>
			Attention and method are two important aspects in software engineering. Attention because when you create
			software, you always have <em>many options</em>. It may sound general, but writing code can be simply reduced to
			choosing an alternative between many others, or finding a new alternative to add to the pool of the alternatives.
			Every decision in software needs to have a reason, there must be a strong opinion on why something was done. From
			writing a single line of code to designing a whole platform architecture. With time and experience, a subset of
			these strong opinions are automatic. This is because in software there are many patterns. You know that everytime
			you have to center a <code>div</code> in CSS, you use flex, grid or the good old <code>margin: 0 auto;</code>.
		</p>

		<p>
			Other than software engineering, I enjoy spending time with people. It's truly enriching when you are just
			together with your friends, people that you know you can trust and have fun with. Party, also that.
		</p>

		<p>
			In the photo below you can see me with my girlfriend and some of my best friends. It's incredible how I met them:
			if I didn't attend that German course while doing an Erasmus in Austria...
		</p>

		<Picture
			src={withThem}
			formats={['avif', 'webp']}
			alt="The owner of this website with his girlfriend and some of his best friends, posing for a picture together in a balcony."
			title="SIUMMM"
		/>

		<p>We spent together a part of my life that I will never forget. And we are going to spend more of it, for sure.</p>
	</section>
</BaseLayout3>
