---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
	<h1>Homepage</h1>

	<p>I am a software developer. I like to interact with people in different ways.</p>

	<h2>Writing</h2>

	<p>
		You can check my written content in my <a href="/blog">blog</a>.
	</p>

	<h2>What I am doing now</h2>

	<p>
		If you are interest in my current interests and areas of focus, see <a href="/now">my now page</a>.
	</p>

	<h2>Who I am</h2>

	<p>
		You can have personal information about me in my <a href="/about">about page</a>.
	</p>

	<h2>Credits</h2>

	<p>All the credits for the design go to <a href="https://56.digital">https://56.digital</a>.</p>
</PageLayout>
