<em
	>Note: the content of this post is mainly notes taken from professor <a
		href="https://users.dimi.uniud.it/~stefano.mizzaro/">Stefano Mizzaro</a
	>’s lessons on (Web) Information Retrieval at <a href="https://www.uniud.it/en">Uniud</a>.</em
>
