<style lang="scss">
	.logo {
		color: var(--color-foreground);
		font-family: Helvetica, sans-serif;
		font-size: 2rem;
		font-weight: 900;
		text-shadow: 2px 2px 0px var(--color-primary);
		text-decoration: underline;
		transition: text-shadow 0.2s ease-in-out;

		&:hover {
			text-shadow: 4px 4px 0px var(--color-primary);
		}
	}
</style>

<span class="logo">TONINO</span>
