---
import CountryFlag from '../components/CountryFlag.astro'
import Logo from '../components/LogoRaster.astro'
---

<style lang="scss">
	.base-container {
		@apply ml-8 sm:max-w-xl lg:max-w-3xl sm:mx-auto;
	}
</style>

<aside class="fixed flex justify-center w-full bg-[#fcdf51]">
	<a class="text-[#0071ce] hover:text-[#0071ce]/50 font-bold" href="https://war.ukraine.ua/support-ukraine/"
		><CountryFlag code="ua" alt="Ukraine flag" class="inline" /> Support Ukraine here. Thanks! <CountryFlag
			code="ua"
			alt="Ukraine flag"
			class="inline"
		/></a
	>
</aside>

<header class="pt-8 ml-8 base-container h-28">
	<a href="/" class="block max-w-[150px]">
		<Logo />
	</a>
</header>

<main>
	<slot />
</main>

<footer class="flex items-center ml-8 font-mono opacity-50 text-foreground base-container h-14 sm:text-lg">
	by Roberto Tonino - v{__VERSION__}
</footer>
