---
import CountryFlag from '../components/CountryFlag.astro'
import Logo from '../components/LogoText.astro'
---

<style lang="scss">
	.base-container {
		@apply ml-8 sm:mx-auto sm:max-w-xl lg:max-w-3xl;
	}
</style>

<aside class="fixed flex w-full justify-center bg-[#fcdf51] items-center h-8">
	<a class="font-bold text-[#0071ce] hover:text-[#0071ce]/50" href="https://u24.gov.ua/"
		><CountryFlag code="ua" alt="Ukraine flag" class="inline" /> Support Ukraine here. Thank you! <CountryFlag
			code="ua"
			alt="Ukraine flag"
			class="inline"
		/>
	</a>
</aside>

<header class="max-w-screen-md mx-auto flex items-center pt-8 h-28">
	<div class="flex items-center pl-8 grow h-full border-2 border-black border-solid">
	<a href="/" class=" text-center no-underline decoration-foreground hover:underline hover:decoration-8">
		<Logo />
	</a>
	</div>
	<nav class="w-20 h-20 flex justify-center items-center border-2 border-l-0 border-black border-solid">
		<a
			href="/about"
			class="text-xs text-black no-underline hover:underline hover:decoration-[3px] underline-offset-4 md:text-base"
			>About</a
		>
	</nav>
</header>

<main>
	<slot />
</main>

<div class="h-16 border-solid border-x-2 border-y-0 border-black max-w-screen-md mx-auto"/>

<footer
	class="flex h-16 border-solid border-2 border-b-0 px-8 border-black items-center text-xs sm:mx-auto sm:max-w-screen-md sm:text-sm"
>
	<span>
		Roberto Tonino &mdash; 2021&ndash;2023 &mdash; <a href="/rss.xml" title="RSS Feed" class="text-foreground">RSS</a>, <a
			rel="me"
			class="text-foreground"
			href="https://github.com/BobToninho">GitHub</a
		>, <a rel="me" class="text-foreground" href="https://mastodon.social/@robik">Mastodon</a>, <a
			class="text-foreground"
			href="https://x.com/robtonino">Twitter / X</a
		>
	</span>
</footer>
