---
import CountryFlag from '../components/CountryFlag.astro'
import Logo from '../components/LogoText.astro'
---

<style lang="scss">
	.base-container {
		@apply ml-8 sm:mx-auto sm:max-w-xl lg:max-w-3xl;
	}
</style>

<aside class="fixed flex w-full justify-center bg-[#fcdf51]">
	<a class="font-bold text-[#0071ce] hover:text-[#0071ce]/50" href="https://u24.gov.ua/"
		><CountryFlag code="ua" alt="Ukraine flag" class="inline" /> Support and donate to Ukraine here. Thank you! <CountryFlag
			code="ua"
			alt="Ukraine flag"
			class="inline"
		/>
	</a>
</aside>

<header class="base-container ml-8 h-28 pt-8">
	<a href="/" class="block max-w-[150px] no-underline">
		<Logo />
	</a>
</header>

<main>
	<slot />
</main>

<footer class="base-container ml-8 flex h-14 items-center font-mono text-foreground opacity-50 sm:text-lg">
	by Roberto Tonino - v{__VERSION__}
</footer>
