---
import Logo from '../components/LogoRaster.astro'
---

<style lang="scss">
	.base-container {
		@apply ml-8 sm:max-w-xl lg:max-w-3xl sm:mx-auto;
	}
</style>

<header class="pt-8 ml-8 base-container h-28">
	<a href="/" class="block max-w-[150px]">
		<Logo />
	</a>
</header>

<main>
	<slot />
</main>

<!-- <footer class="flex items-center ml-8 font-mono opacity-50 text-foreground base-container h-14 sm:text-lg">
	by Roberto Tonino - v{__VERSION__}
</footer> -->
<footer class="flex items-center ml-8 font-mono opacity-50 text-foreground base-container h-14 sm:text-lg">
	by Roberto Tonino
</footer>
