<style lang="scss">
.header {
	height: 75px;
	margin: 0 auto;
	max-width: 1280px;
}
</style>

<header class="header">
	<a href="/">T</a>
	<!-- <Logo /> -->
</header>

<slot />

<footer>
	by Roberto Tonino - v{__VERSION__}
</footer>