---
import CountryFlag from '../components/CountryFlag.astro'
import Logo from '../components/LogoText.astro'
---

<!-- <style lang="scss"> --><!-- 	.base-container { --><!-- 		@apply ml-8 sm:mx-auto sm:max-w-xl lg:max-w-3xl; --><!-- 	} --><!-- </style> --><!--
<aside class="fixed z-50 flex h-8 w-full items-center justify-center bg-[#fcdf51]">
	<a class="font-bold text-[#0071ce] hover:text-[#0071ce]/50" href="https://u24.gov.ua/"
		><CountryFlag code="ua" alt="Ukraine flag" class="inline" /> Support Ukraine here. Thank you! <CountryFlag
			code="ua"
			alt="Ukraine flag"
			class="inline"
		/>
	</a>
</aside>
-->
<header class="mx-auto flex h-28 items-center pt-8">
	<div class="flex grow items-center pl-4 sm:pl-8">
		<a href="/" class="text-center no-underline hover:underline">
			<Logo />
		</a>
	</div>
	<nav class="flex items-center justify-center gap-4 text-2xl">
		<a href="/blog/" class="text-black no-underline hover:underline">Blog</a>
		<a href="/about" class="text-black no-underline hover:underline">About</a>
	</nav>
</header>

<!-- footer - header - padding-header - aside -->
<main style="min-height: calc(100vh - 64px - 112px - 32px - 32px);">
	<slot />
</main>

<footer class="prose prose-2xl mt-auto flex h-16 max-w-prose items-center px-4 sm:mx-auto sm:px-8">
	<span>
		Roberto Tonino &ndash; 2021 &ndash; <a href="/rss.xml" title="RSS Feed" class="text-foreground">RSS</a>, <a
			rel="me"
			class="text-foreground"
			href="https://github.com/BobToninho">GitHub</a
		>, <a rel="me" class="text-foreground" href="https://mastodon.social/@robik">Mastodon</a>, <a
			class="text-foreground"
			href="https://x.com/robtonino">Twitter / X</a
		>
	</span>
</footer>
