---
import Logo from '../components/LogoRaster.astro'
---

<header class="h-28 pt-8 ml-8 sm:max-w-xl lg:max-w-3xl sm:mx-auto">
	<a href="/" class="block max-w-[150px]">
		<Logo />
	</a>
</header>

<main>
	<slot />
</main>

<footer class="flex items-center h-14 ml-8 sm:max-w-lg sm:mx-auto">
	by Roberto Tonino - v{__VERSION__}
</footer>
