---
import CountryFlag from '../components/CountryFlag.astro'
import Logo from '../components/LogoText.astro'
---

<style lang="scss">
	.base-container {
		@apply ml-8 sm:mx-auto sm:max-w-xl lg:max-w-3xl;
	}

	.head-link {
		color: var(--color-foreground);
		font-family: Helvetica, sans-serif;
		font-weight: 700;
		text-shadow: 1px 1px 0px var(--color-primary);
		text-decoration: underline;
		transition: text-shadow 0.2s ease-in-out;

		&:hover {
			text-shadow: 2px 2px 0px var(--color-primary);
		}
	}
</style>

<aside class="fixed flex w-full justify-center bg-[#fcdf51]">
	<a class="font-bold text-[#0071ce] hover:text-[#0071ce]/50" href="https://u24.gov.ua/"
		><CountryFlag code="ua" alt="Ukraine flag" class="inline" /> Support and donate to Ukraine here. Thank you! <CountryFlag
			code="ua"
			alt="Ukraine flag"
			class="inline"
		/>
	</a>
</aside>

<header class="container flex h-28 items-center justify-center px-2 pt-8">
	<div class="basis-1/3"></div>
	<a href="/" class="block basis-1/3 text-center no-underline">
		<Logo />
	</a>
	<nav class="flex basis-1/3 justify-end">
		<a href="/rss.xml" title="RSS Feed" class="head-link">RSS</a>
	</nav>
</header>

<main>
	<slot />
</main>

<footer
	class="ml-8 flex h-14 items-center font-mono text-foreground opacity-50 sm:mx-auto sm:max-w-xl sm:text-lg lg:max-w-3xl"
>
	by Roberto Tonino - v{__VERSION__}
</footer>
