---
import CountryFlag from '../components/CountryFlag.astro'
import Logo from '../components/LogoText.astro'
import BaseHead from '../components/BaseHead.astro'

//const { title, description } = Astro.props.content
//const permalink = new URL(Astro.url.pathname, Astro.site)
//
//const headProps = {
//title,
//description,
//permalink,
//}
---

<html lang="en" data-theme="brutal">
	<head>
		<BaseHead title={undefined} description={undefined} />

		<!--<link rel="preload" href="/assets/fonts/montserrat-v29-latin-700.woff2" as="font" type="font/woff2" crossorigin />-->
		<link rel="preload" href="/assets/fonts/lora-v32-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
		<!-- <link rel="preload" href="/assets/fonts/MartianMonoVF.woff2" as="font" type="font/woff2" crossorigin /> -->
	</head>
	<body>
		<aside id="header" class="fixed z-50 flex h-8 w-full items-center justify-center bg-[#fcdf51]">
			<a class="font-bold text-[#0071ce] hover:text-[#0071ce]/50" href="https://u24.gov.ua/"
				><CountryFlag code="ua" alt="Ukraine flag" class="inline" /> Support Ukraine here. Thank you! <CountryFlag
					code="ua"
					alt="Ukraine flag"
					class="inline"
				/>
			</a>
		</aside>

		<main id="page">
			<header class="page__left until-sm">
				<a href="/">Roberto Tonino</a>
			</header>
			<header class="page__left sm-n-above">
				<a href="/">
					<div>
						R<br />o<br />b<br />e<br />r<br />t<br />o
					</div>
				</a>
				<a href="/">
					<div>
						T<br />o<br />n<br />i<br />n<br />o
					</div>
				</a>
			</header>
			<div id="page__left-placeholder"></div>

			<section id="page__right">
				<slot />
			</section>
		</main>
		<!--
		<nav class="">
			<a href="/blog/" class="">Blog</a>
			<a href="/about" class="">About</a>
		</nav>

		<main style="">
			<slot />
		</main>

		<footer class="">
			<span>
				Roberto Tonino &ndash; 2021 &ndash; <a href="/rss.xml" title="RSS Feed" class="text-foreground">RSS</a>, <a
					rel="me"
					class=""
					href="https://github.com/BobToninho">GitHub</a
				>, <a rel="me" class="text-foreground" href="https://mastodon.social/@robik">Mastodon</a>, <a
					class=""
					href="https://x.com/robtonino">X</a
				>
			</span>
		</footer>
-->
	</body>
</html>
