---
import BaseHead from '../components/BaseHead.astro'
import SupportUkraine from '../components/SupportUkraine.astro'
---

<html lang="en" data-theme="black">
	<head>
		<BaseHead title={undefined} description={undefined} />

		<style>
			header {
				display: flex;
				justify-content: space-between;
				margin-bottom: var(--size-8);

				a:not(:hover) {
					text-decoration: none;
				}
			}

			@layer globals {
				section:not(:last-child) {
					margin-bottom: var(--size-8);
				}
			}
		</style>

		<style is:inline>
			.content {
				pre {
					/* Default value I found with devtools */
					--margin: 1.25rem;

					margin: 0 0 var(--margin) 0;
					/* Needed for "Copy" button */
					position: relative;

					.copy {
						font-size: 1rem;
						height: var(--margin);
						position: absolute;
						right: 0.5rem;
						top: calc(-1 * var(--margin));
					}
				}

				code {
					overflow-x: scroll;
					white-space: pre-wrap;
				}

				p,
				img {
					margin-bottom: 1.25rem;
				}

				img {
					height: auto;
				}
			}
		</style>
	</head>
	<body>
		<SupportUkraine />

		<main id="page">
			<header>
				<div>
					<p><a href="/">Roberto Tonino</a></p>
					<p>Vienna</p>
				</div>
			</header>

			<slot />
		</main>
	</body>
</html>
