---
import BaseLayout from './BaseLayout.astro'
import BaseHead from '../components/BaseHead.astro'

const { content } = Astro.props
---
<head>
	<BaseHead />
</head>
<body>
	<BaseLayout>
		<section class="px-8 pt-8 prose md:prose-lg xl:prose-xl sm:mx-auto">
			<h1 class="title">{content.title}</h1>

			<article class="post">
				<slot />
			</article>
		</section>
	</BaseLayout>
</body>
