---
import BaseLayout from './BaseLayout.astro'
import BaseHead from '../components/BaseHead.astro'

const { title, description, date } = Astro.props.content
const permalink = Astro.request.canonicalURL.href

const headProps = {
	title,
	description,
	permalink,
}
---

<html lang="en">
	<head>
		<BaseHead {...headProps} />
	</head>
	<body>
		<BaseLayout>
			<section class="px-8 pt-8 prose lg:prose-xl sm:mx-auto">
				<h1 class="title">{title}</h1>

				{date && (
					<p>
						<span class="font-bold underline">Posted on:</span>
						<time id="date" datetime={date}>
							{date}
						</time>
					</p>
				)}

				<article class="post">
					<slot />
				</article>

				<script>
					const $dateEl = document.querySelector('#date')
					const date = $dateEl.getAttribute('datetime')
					const options = {
						weekday: 'long',
						year: 'numeric',
						month: 'long',
						day: 'numeric',
					}
					$dateEl.innerText = new Date(date).toLocaleString(window.navigator.language, options)
				</script>
			</section>
		</BaseLayout>
	</body>
</html>
