---
import BaseLayout from './BaseLayout.astro'
import BaseHead from '../components/BaseHead.astro'

const { content } = Astro.props
---

<style lang="scss">
	.title {
		max-width: 28ch;
	}

	.post {
		max-width: 56ch;
	}

	.centered {
		display: grid;
		place-content: center;
	}
</style>

<head>
	<BaseHead />
</head>
<body>
	<BaseLayout>
		<section class="centered prose">
			<h1 class="title">{content.title}</h1>

			<article class="post">
				<slot />
			</article>
		</section>
	</BaseLayout>
</body>
