---
import { DateTime } from 'luxon'

import BaseLayout from './BaseLayout.astro'
import BaseHead from '../components/BaseHead.astro'

const { title, description, date } = Astro.props.content
const permalink = Astro.canonicalURL.href

const isoDate = DateTime.fromISO(date).toISODate()

const headProps = {
	title,
	description,
	permalink,
}
---

<html lang="en">
	<head>
		<BaseHead {...headProps} />

		<link rel="preload" href="/assets/fonts/heebo-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/assets/fonts/heebo-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
	</head>
	<body>
		<BaseLayout>
			<section class="px-8 pt-8 prose lg:prose-xl sm:mx-auto container">
				<h1 class="decoration-primary-600 tracking-wide underline">{title}</h1>

				{date && (
					<p>
						<span class="font-bold underline">Posted on:</span>
						<time id="date" datetime={isoDate}>
							{isoDate}
						</time>
					</p>
				)}

				<article>
					<slot />
				</article>

				<script>
					const $dateEls = document.querySelectorAll('time')

					$dateEls.forEach($dateEl => {
						const date = $dateEl.getAttribute('datetime')
						const options = {
							weekday: 'long',
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						}
						$dateEl.innerText = new Date(date).toLocaleString(window.navigator.language, options)
					})
				</script>
			</section>
		</BaseLayout>
	</body>
</html>
